<html>
    <head>
      <title>My First Template</title>
      <meta charset="utf-8">
      <meta name="description" content="Tool to Produce a 2-D Array">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" rel="stylesheet" />
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='normalize.css') }}">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
      <div class="container">
        <h3>Greetings!</h3>
        <!-- here is an example of embedding a for-loop in our code -->
        {% for x in range(0,times): %}
        <p>{{ phrase }}</p>
        {% endfor %}
        <p>
          Hello, Second Coming...
        </p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/6PBzmpT0yQE" frameborder="0" allowfullscreen></iframe>
      </div>
    </body>
</html>
